@use "../global/variables.scss";

.about {
  p {
    margin: 0;
  }

  p:last-of-type {
    display: none;
  }

  @media (min-width: $desktop-width) {
    p:last-of-type {
      display: block;
    }
  }
}

.about__subtitle {
  font-size: 18px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 22px;
    line-height: 22px;
  }
}

.about__video {
  display: none;
}

.about__video--open {
  display: block;
}
