@use "../global/variables";

.details-link {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-decoration: none;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.details-link--primary {
  color: $primary-white-color;
  border-bottom: 1px solid $primary-white-color;
}

.details-link--secondary {
  color: $primary-dark-blue-color;
  border-bottom: 1px solid #74819c;
}
