@use "../global/variables";

.footer {
  background-color: $bg-footer-black-color;
  color: $primary-white-color;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
    padding-bottom: 48px;
  }
}

.footer__container {
  display: flex;
  flex-direction: column;
  gap: 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.footer__logo-container {
  @media (min-width: $tablet-width) {
    margin-right: 35.5px;
  }
}

.footer__nav {
  @media (min-width: $tablet-width) {
    margin-right: 35.5px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 35px;
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    gap: 20px 21px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    gap: 0;
    width: 600px;
    margin-right: 0;
  }
}

.footer__nav-link {
  text-decoration: none;
  color: $primary-white-color;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    line-height: 22px;
  }
}
