@use "../global/variables.scss";

.form-contacts-gradient {
  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to right, #1c3374 0%, #1c3374 50%, #1c3374 50%, #ffffff 50%, #ffffff 100%);
    padding-left: $tablet-padding-x;
    padding-right: $tablet-padding-x;
  }
}
