@use "../global/variables.scss";

.form-contacts-desktop-wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    min-width: $desktop-width-container;
    max-width: $desktop-width-container;
    margin: 0 auto;
  }
}
