@use "../global/variables";

.reviews__wrapper {
  display: flex;
}

.reviews__button {
  width: 100%;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

.reviews__card {
  background-color: $primary-dark-blue-color;
  color: $primary-white-color;

  h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
  }

  p {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 22px;
  }
}
