@use "../global/variables";

.reviews__wrapper {
  display: flex;
}

.reviews__button {
  width: 25px;
  background-color: transparent;
  border: 1px solid transparent;

  /* @media (max-width: $pre-tablet-width) {
    display: none;
  } */
}

.reviews__card {
  background-color: $primary-dark-blue-color;
  color: $primary-white-color;

  h3 {
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
  }

  p {
    margin: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 22px;
    line-height: 22px;
  }
}
